{% extends "layout.html" %}

{% block content %}
<h1 class="text-center">Відновлення пароля</h1>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <p>Введіть email, який ви вказували під час реєстрації. Ми надішлемо посилання для відновлення пароля.</p>
    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label for="id_email" class="form-label">Електронна пошта</label>
        {{ form.email }}
        {% if form.email.errors %}
          <div class="text-danger">{{ form.email.errors }}</div>
        {% endif %}
      </div>

      <button type="submit" class="btn btn-primary w-100">Надіслати лист</button>
    </form>
  </div>
</div>
{% endblock %}



